body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#cy {

  width: 80%;
  height: 500px;
  display: block;
  position: absolute;
  left: 30px;
  top: 35%;
  z-index: 1;
}

.tippy-popper {
	transition: none !important;
}

#left {
	float:left
}
		
#right {
	float: right;
	position: absolute;
	right: 0px;
	top: 0%;
}
		
		
#createRandom, #nodeNumber, #changeEditStatus {
	display:inline-block;
}

#nodeNumber{
	width: 24px;
}

#from, #to{
	width: 50px;
}

/*
Tutorial from: https://sabe.io/tutorials/how-to-create-modal-popup-box followed for modal CSS
*/
 .modalForComparison {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	visibility: hidden;
 }
	
 .modal-content {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 background-color: white;
	 padding: 1rem 1.5rem;
	 width: 24rem;
     border-radius: 0.5rem;
 }
 
 .close-button {
	float: right;
	width: 1.5rem;
	line-height: 1.5rem;
	text-align: center;
	cursor: pointer;
	border-radius: 0.25rem;
	background-color: lightgray;
 }
  
 .close-button:hover {
	background-color: darkgray;
 }
 
 .showModalComparison {
     opacity: 1;
     visibility: visible;
    transform: scale(1.0);
     transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
 }

/*
 Bar graph CSS from: https://www.w3schools.com/HOWTO/howto_css_skill_bar.asp
 Bars have minor edits to the CSS 
 */

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.algorithms {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}
#dijkOrigBar {background-color: #f44336;} /* Red */
#dijkPartBar {background-color: #2196F3;} /* Blue */
#aStarBar {background-color: #808080;} /* Dark Grey */